# Object files
*.obj

# vs proj files
*.vcxproj
*.vcxproj.*


*.wad

# compiler err
*.err

# savegame
*.DSG

# going to leave the map in, i think its interesting to see changes over time..
# *.map

/packages/Microsoft.Build.Tasks.Git.1.1.1
/Debug
/.vs/RealDOOM/v15
/GCCIA16
010/.DS_Store
.vscode/settings.json
bin/scat/.DS_Store
build/tools/.DS_Store
bin/.DS_Store
